<script type="text/javascript">
    $(document).ready(function() {
        $("#area").click(function () {
            $(".menu_area").slideToggle();
            $("#area").toggleClass("click_area");
        });
        $(".menu_area_title_icon").click(function(){
            $(".area_form").slideDown();
        });
        $(".button_two").click(function(){
            $(".area_form").slideUp();
        });
    });
</script>
</body>
</html>
