<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>管理系统</title>
  <link rel="stylesheet" href="/css/main.css">
  <!--<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>-->
  <script src="/jquery-3.3.1.js"></script>
  <link rel="stylesheet" href="/css/alert.css">
  <script src='/javascripts/alert.min.js'></script>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
  <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.6&key=71d8a6e1b848de01cb229877adb1c369"></script>
  <script type="text/javascript" src="/javascripts/echarts.min.js"></script>
</head>

<body>
<%- include('components/alert') %>